page-layout {
  #chat-b , #contacts-b{
      background-color:#18032d;
      color:#ffff;
  }
  #main-window{
      background-color:#28163a;
      color:#ffff;
  }
  img{
      border-radius: 100%;
  }
  #profpic{
      max-width: 100%;
  }
  #edit-i1{
      padding-left:85%; 
  }
  #edit-i{
    padding-left:66%; 
}
#searchbar{
    
    color:#3e3e5e;
}
}
