page-layout {
  #chat-b , #contacts-b{
      background-color:#18032d;
      color:#ffff;
  }
  #main-window{
      background-color:#28163a;
      color:#ffff;
  }
  img{
      border-radius: 100%;
  }
}
